@model Sprint0.Models.InventoryProduct

@{
    ViewBag.Title = "Product - " + Model.productName;
}
@using (Html.BeginForm("Details", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" style="background-color:#dbdbdb">
                        <h2 class="text-center">TV & Gate Boyz</h2>

                    </div>
                    <div class="clearfix"></div>
                    <div class="x_content">
                        <div class="col-md-5 col-sm-5 col-xs-12">


                            @{
                                var img = "";
                                var amg = "";




                                if (Model.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(Model.Image);
                                    img = string.Format("data:image/jpg;base64,{0}", base64);
                                    <div class="product-image">
                                        <img src="@img" style="width:250px;height:400px" />
                                    </div>
                                }

                                else

                                {
                                    amg = "~/Content/Images2/NewProd.jpg";
                                    <div class="product-image">
                                        <img src=@amg style="width:250px;height:400px" />
                                    </div>
                                }

                            }






                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">
                            <h3 class="prod_title">@Model.brandName - @Model.productName</h3>
                            <p class="breadcrumb"><i>@Model.productDescription</i></p>
                            <br />
                            <div class="">
                                <div class="product_price">
                                    <h1 class="price">R @Model.DiscountPrice</h1>
                                    <span class="price-tax">Ex Tax: 0.00</span>
                                    <br>
                                </div>
                            </div>
                            <div class="">
                                @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = Model.productId }, new { @class = "btn btn-default btn-lg" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Detailed Description</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div class="clearfix"></div>
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                        <p>@Model.productDescription</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                        <p>
                                            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                                            booth letterpress, commodo enim craft beer mlkshk aliquip
                                        </p>
                                        @foreach (var item in Model.Categories.InventoryProducts)
                                        {
                                            <p>@item.Categories.categoryName</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

}
