
@{
    ViewBag.Title = "UserProfile";
}

<h2>UserProfile</h2>

<label>Hi there <b> @Html.Action("Profile")</b> <b> @Html.Action("LastName")</b></label>
<label>We just want to confirm your address. Is it  <b>@Html.Action("Address")</b></label>
@*<label>In the city of  <b>@Html.Action("City")</b></label>
    <label>Located in the province <b>@Html.Action("Province")</b></label>
    <label>With the postal code of <b> @Html.Action("ZipCode")</b></label>*@

<label>Is your cell number correct?  <b>@Html.Action("Cell")</b></label>




