@model IEnumerable<Sprint0.Models.Catalogue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-hover">
    <tr style="background-color:#c8c8c8">
        <th>
            @Html.DisplayNameFor(model => model.catalogueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catalogueDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.catalogueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.catalogueDescription)
            </td>
            <td>
                <img src="~/Content/Images/@item.Image" width="40" height="50" />

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.catalogueId }) |
                @Html.ActionLink("Details", "Details", new { id = item.catalogueId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.catalogueId })
            </td>
        </tr>
    }

</table>
